.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.finish-page {
	text-align: center;
}

.announcement {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.header {
	padding: 10px;
	background: #F9F9F9;
	text-align: left;
	border-bottom: thick solid #E46D74;
}

.site-logo {
	color: #E46D74;
	font-family:Arial Black;
	letter-spacing: 2px;
}

.footer {
	background: #444444;
	border-top: thick solid #E46D74;
	height: 200px;
	margin-top: 20px;
}

#app-counter {
	margin-right: auto;
	margin-left: 450px;
	margin-top: 5px;
}
