.container {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.finish-page {
	text-align: center;
}

.announcement {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.header {
	padding: 10px;
	background: #F9F9F9;
	text-align: left;
	border-bottom: thick solid #E46D74;
}

.site-logo {
	color: #E46D74;
	font-family:Arial Black;
	letter-spacing: 2px;
}

.footer {
	background: #444444;
	border-top: thick solid #E46D74;
	height: 200px;
	margin-top: 20px;
}

.counter-center-box {
	position: absolute;
	width: 300px;
	height: 200px;
	z-index: 15;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -150px;
	display: block;
	text-align: center;
	font-size: 40px;
	// display: none;
}

.disable-display {
	display: none;
}



// .counter-box-app-text {
// 	vertical-align: middle;
// }

