body {
	width: 100%;
	min-width: 830px;
}

// .header {
// 	padding: 10px;
// 	background: #F9F9F9;
// 	text-align: left;
// 	border-bottom: thick solid #E46D74;
// }
//
// .site-logo {
// 	color: #E46D74;
// 	font-family:Arial Black;
// 	letter-spacing: 2px;
// }

// .render-target {
// 	display: block;
// }

.footer {
	background: #444444;
	border-top: thick solid #E46D74;
	height: 200px;
	margin-top: 20px;
}


