.summary-page {
	margin-top: 10px;
	width: 100%;
}

.candidate-cards-container {
	background: #EEEEEE;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.candidates-order-container {
	background: #EEEEEE;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
}