.summary-page {
	margin-top: 10px;
	width: 100%;
}

.candidate-cards-container {
	background: #EEEEEE;
	border-radius: 10px;
	padding: 10px;
	width: 100%;
}

.candidates-order-container {
	background: #EEEEEE;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
}

.todo-list {
	margin-top: 10px;
	margin-bottom: 10px;
}

.todo-finish {
	color: #00b33c;
	font-weight: bold;
}

.todo-not-finish {
	color: #ff471a;
	font-weight: bold;
}

.other-question-container {
	background: #EEEEEE;
	border-radius: 10px;
	margin-top: 15px;
	padding: 10px;
	width: 100%;
}

.extra-question-block {
	vertical-align: middle;
	background: #DCDCDC;
	border-radius: 10px;
	border: 3px solid #D3D3D3;
	display: block;
	transition: box-shadow 0.3s ease-in-out;
	padding: 10px;
	margin: 7px;
	height: 90px;
	width: 750px;
}

.extra-question-block:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.extra-question {
	display: inline-block;
	width: 400px;
	vertical-align: middle;
}

.extra-question-solution {
	display: inline-block;
	margin-left: 30px;
	width: 200px;
	vertical-align: middle;
}
