.survey-header {
	padding: 10px;
	background: #F9F9F9;
	text-align: left;
	border-bottom: thick solid #75FF33;
}

.survey-site-logo {
	color: #75FF33;
	font-family:Arial Black;
	letter-spacing: 2px;
}
