
#demo div {
  display: block;
  margin-bottom: 36px;
}

.team-task-box {
    margin-left: 5%;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 2%;
}

#demo .paragraph {
    font-size: 105%;
    margin-left: 2%;
    margin-right: 2%;
}

#demo .tab {
    padding-left: 5em;
}

#demo .centerdiv {
  text-align: center;
  margin-bottom: 2%;
}

#demo h4 {
  margin-left: 2%;
  font-size: 18px;
}

#demo .page2-intro {
    font-size: 105%;
    margin-left: 2%;
    margin-right: 2%;
}

#demo ul {
  margin-top: 0;
  margin-bottom: 10px;
}

.button-box {
  display: inline-flex;
}

.page-box {
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.border-box {
  border-style: solid;
}

.etherpad-box {
  width: 100%;
  text-align: center;
}

.border-box .slogan-box {
  text-align: center;
  border-style: ridge;
  width: 50%;
}

.border-box .slogan-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.border-box .slogan-box .slogan{
  text-align: center;
  font-size: 26px;
}


.center-timer-teamtask {
  text-align: center;
  margin-top: 3%;
}
